<template>
  <div id="app">
    <div
    id="app"
    style="display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;"
  >
    <header class="page-navbar navbar navbar-expand-md sticky-top">
      <a class="brand navbar-brand clickable"
        ><img
          src="http://3.112.38.145/images/masking_icon.png"
          alt="app_icon"
          width="30"
          height="30"
          class="brand-icon d-inline-block align-top"/>
        <img
          src="http://3.112.38.145/images/masking_title.png"
          alt="app_icon"
          width="300"
          height="30"
          class="brand-name-logo d-inline-block align-top"
      /></a>
      <button
        type="button"
        data-toggle="collapse"
        data-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-light navbar-toggler"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarMenu" class="menu collapse navbar-collapse">
        <!---->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link"><div class="px-1">Đăng nhập</div></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><div class="px-1">Đăng kí</div></a>
          </li>
          <li class="dropdown nav-item">
            <a
              id="dropdownMenuLink"
              href="#"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="nav-link dropdown-toggle"
            >
              Ngôn ngữ
            </a>
            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
              <a class="dropdown-item">English</a
              ><a class="dropdown-item">日本語</a
              ><a class="dropdown-item">Tiếng Việt</a>
            </div>
          </li>
        </ul>
        <!---->
      </div>
      <div class="loading-bar">
        <div
          class="md-progress-bar md-indeterminate md-theme-default"
          style="display: none;"
        >
          <div class="md-progress-bar-track"></div>
          <div class="md-progress-bar-fill"></div>
          <div class="md-progress-bar-buffer"></div>
        </div>
      </div>
    </header>
  </div>
  </div>
</template>

<script>

export default {
  name: "HelloWorld",

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  box-sizing: border-box;
}
.page-navbar {
  background-color: #fff;
  padding: 4px;
  border-bottom: 1px solid #dadce0;
  box-shadow: 0 2px 6px 1px rgb(65 69 73 / 15%);
  z-index: 8;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
.page-navbar .brand .brand-icon {
  width: 50px;
  height: 50px;
  margin: 8px 4px 8px 16px;
}
img {
  height: auto;
}

a {
  color: slategray !important;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.page-navbar .menu a:hover {
  border-radius: 8px;
  margin: 2px 0;
  padding: 3px 7px;
  text-decoration: none;
}
.page-navbar .menu .auth-info:hover,
.page-navbar .menu a:hover {
  background-color: rgba(68, 138, 255, 0.3);
  box-shadow: none;
  color: rgba(68, 138, 255, 0.8);
}
.page-navbar .menu a {
  margin: 2px 0;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #3c4043;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-toggle:focus ~ .dropdown-menu {
  display: block;
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
}
}
</style>
