<template>
  <div id="app" class="container">
    <!-- Login Form -->
    <div class="no-robots">
      <div class="heading">
        <h2>Đăng nhập</h2>
      </div>

      <form
        class="form"
      >
        <div class="row">
          <input
            class="field"
            type="email"
            id="firstName"
            required
          />
          <label for="firstName">
            <span>Email Address *</span>
          </label>
        </div>

        <div class="row">
          <input class="field" type="password" id="password" required />
          <label for="email">
            <span>Password *</span>
          </label>
          <div v-on:click="showPassWord" class="view">
            <img class="view-icon" src="../assets/view.png" alt="" />
          </div>
        </div>

        <div class="row check">
          <div class="md-checkbox label-checkbox md-theme-default md-checked">
            <div class="md-checkbox-container">
              <div class="md-ripple">
                <input
                  for="remember"
                  id="remember"
                  type="checkbox"
                  name="remember"
                />
              </div>
            </div>
            <label for="remember" class="md-checkbox-label">Ghi nhớ tôi</label>
          </div>
        </div>

        <button class="submit">
          Submit
        </button>
      </form>
    </div>
    <!-- End Login Form -->
  </div>
</template>

<script>
export default {
  el: "#app",
  data: {
    errors: [],
    name: null,
    email: null,
    movie: null,
    value: true
  },
  methods: {
    showPassWord: function() {

      if(this.value = true){
        document.getElementById('password').type = 'text';
        this.value = false;
        console.log(this.value);
      }
      if(this.value = false){
        document.getElementById('password').type = 'password';
        this.value = true;
      }
    },
  },
};
</script>

<style scoped>
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

#app {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}
.success {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 250ms linear;
  z-index: 100;
}

.view {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 35px;
  height: 35px;
  z-index: 10;
}
.view:hover {
    background: #e5e5e5;
  border-radius: 50%;
}

.view-icon {
  opacity: 0.8;
  cursor: pointer;
}
.no-robots {
  position: relative;
  display: block;
  margin: 0;
  padding: 2.5rem;
  background-color: white;
  border-radius: 0.3125rem;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2);
}
.no-robots .heading {
  position: relative;
  display: flex;
  margin: 0 0 30px;
  justify-content: center;
}

.no-robots .heading h2 {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: slategray;
}
.no-robots form {
  position: relative;
  display: block;
  width: 100%;
}
.no-robots form .row {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  margin: 0 0 25px;
  padding: 0;
}

.no-robots form .row.check {
  width: 150px;
}
.no-robots form .row.check label {
  left: 30px;
  font-size: 16px;
}
input#remember {
  width: 20px;
  height: 20px;
}
div.md-ripple {
  height: 25px;
}
.no-robots form .row .field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.0625rem solid lightgray;
  z-index: 1;
}
.no-robots form .row .field::-webkit-input-placeholder {
  color: lightgray;
  font-weight: 100;
}
.no-robots form .row .field:focus {
  border-bottom: none;
}
.no-robots form .row .field:focus ~ label:before,
.no-robots form .row .field:valid ~ label:before {
  width: 100%;
  background-color: #448aff;
  z-index: 2;
}
.no-robots form .row .field:focus ~ label span,
.no-robots form .row .field:valid ~ label span {
  top: -10px;
  left: 0;
  font-size: 10px;
  color: #448aff;
}
.no-robots form .row label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  z-index: 0;
}
.no-robots form .row label:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.0625rem;
  transition: width 250ms;
  z-index: 2;
}
.no-robots form .row label span {
  position: absolute;
  top: 20px;
  left: 0px;
  color: #aaa;
  z-index: 5;
  transition: all 250ms;
  font-size: 16px;
}
.no-robots form .row.problem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-robots form .row.problem > span {
  margin-right: 5px;
}
.no-robots form .row.problem > .answer {
  width: 50px;
  padding: 3px;
  margin-right: 3px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid lightgray;
  border-left: none;
  text-align: center;
}
.no-robots form .row.problem > .answer:active,
.no-robots form .row.problem > .answer:focus {
  border-bottom: 1px solid #448aff;
}
.no-robots form button {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: slategray;
  border: none;
  overflow: hidden;
  z-index: 1;
}
.no-robots form button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #448aff;
  transition: width 250ms;
  z-index: -1;
}
.no-robots form button:hover {
  color: white;
}
.no-robots form button:hover:before {
  width: 100%;
}
</style>
