<template>
  <div id="app" style="overflow: hidden;
    width: 100vw;
    height: 100vh;">
    <Header />
    <router-view></router-view>
    <footer class="d-flex flex-column justify-content-end" style="margin-top: 50px;">
      <img
        src="http://3.112.38.145/images/insight-tec.png"
        alt="app_icon"
        style="object-fit: contain; width: auto; height: 80px; box-sizing: border-box;"
      />
      <span class="logo-text text-center">Copyright © 2020 Insight Technology Inc.</span>
    </footer>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
// import Login from "./components/Login.vue";

export default {
  name: 'App',
  components: {
    Header,
    // Login
  },
};
</script>

<style>

</style>
